/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
body{

    font-family: sans-serif;
}

/* COMMON */

.product-card{
   
    width: 30%;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;

}
main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.red-text{
    color: red;
}

  
.line{
    text-decoration: line-through;
}
img:hover {
    cursor: pointer;
}



.product-card .product-image img.secondary {
    display: none;
}

.product-card .product-image:hover .secondary{
    display: block;
}

.product-card .product-image:hover .primary {
    display: none;
}
.product-price{
    font-size: 0.8rem
    ;
}